<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
  <p>
    Hi <%= reciever %> <br>
      <br>
      This mail is from Swaragini club
  </p>
</body>

</html>